/* Scss Document */
/* line 4, main.scss */
a {
  text-decoration: none;
}

/* line 8, main.scss */
html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

/* line 15, main.scss */
body {
  color: #333;
  font-family: 'Dosis', sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

/* line 23, main.scss */
.container {
  width: 100vw;
}

/* line 27, main.scss */
.info-title {
  font-size: 2.5rem;
}

/* line 31, main.scss */
.title {
  position: relative;
  font-size: 3.5rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: #555;
  padding-bottom: 3rem;
  margin-bottom: 6rem;
}

/* line 41, main.scss */
.title:before {
  position: absolute;
  left: 0;
  right: 0;
  content: '';
  height: 0.1rem;
  background: #666;
  bottom: 0;
}

/* line 51, main.scss */
.small-title {
  font-size: 2.5rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: #395e1b;
}

/* line 58, main.scss */
.light-green {
  color: #9acf64;
}

/* line 62, main.scss */
.button {
  font-size: 1.75rem;
  color: #fff;
  background: #0d7619;
  padding: 1rem 2rem;
  border-radius: 10rem;
  cursor: pointer;
  text-transform: uppercase;
}

/* line 72, main.scss */
.bandeau {
  content: '';
  padding: 7.5%;
  width: 100vw;
  background: red;
  position: relative;
  z-index: 4;
}

/* line 81, main.scss */
#bandeau-programme {
  background: url(../img/bandeau.jpg) center/cover no-repeat;
}

/* line 85, main.scss */
section {
  position: relative;
  z-index: 3;
}

/* line 90, main.scss */
.landing {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: fixed center/cover no-repeat;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* line 102, main.scss */
.landing * {
  margin: 1rem 0;
}

/* line 106, main.scss */
.landing .title {
  padding: 0;
  margin: 1rem 0;
}

/* line 111, main.scss */
.landing .title:before {
  height: 0;
  background: none;
}

/* line 116, main.scss */
.landing .button {
  margin: 3rem 0;
}

/* line 120, main.scss */
.content-section {
  padding: 5% 12.5%;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 130, main.scss */
.content {
  font-size: 1.75rem;
  color: #777;
  text-align: center;
  line-height: 1.75;
}

/* line 137, main.scss */
.next {
  display: flex;
  justify-content: center;
}

/* line 142, main.scss */
.schedule {
  margin: 0 2vw 3vh 2vw;
}

/* line 146, main.scss */
.event {
  display: flex;
}

/* line 150, main.scss */
.hour {
  font-size: 1.5rem;
  font-weight: bolder;
  margin: 2rem 2.5rem 2rem 0;
}

/* line 156, main.scss */
.event-name {
  font-size: 1.5rem;
  margin: 2rem 0;
}

/* line 161, main.scss */
.yellow {
  background: #fffdf1;
}

/* line 165, main.scss */
.programme-image {
  position: absolute;
  bottom: 0;
  left: 70%;
}

/* line 171, main.scss */
.intervenants {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80vw;
  margin: auto;
  margin-top: 5rem;
}

/* line 180, main.scss */
.personne {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 186, main.scss */
.photo {
  content: '';
  height: 15rem;
  width: 15rem;
  border-radius: 15rem;
  background: red;
  margin-bottom: 0.75rem;
}

/* line 195, main.scss */
.personne-name {
  font-size: 2rem;
  font-weight: bolder;
}

/* line 200, main.scss */
.personne-content {
  font-size: 1.75rem;
  color: #777;
  margin-bottom: 1.5rem;
}

/* line 206, main.scss */
.personne .button {
  font-weight: bolder;
  background: #9acf64;
}

/* line 211, main.scss */
.border-bottom {
  border-bottom: 0.1rem solid #fff;
}

/* line 215, main.scss */
.border-top {
  border-top: 0.1rem solid #fff;
}

/* line 219, main.scss */
.infos-icons {
  width: 100vw;
  height: 75vh;
  display: flex;
  position: relative;
}
/* line 225, main.scss */
.infos-icons .informations {
  height: 100%;
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  background: #9acf64;
  color: #fff;
  justify-content: center;
  padding: 0 2.5vw;
  font-size: 2.25rem;
}
/* line 236, main.scss */
.infos-icons .informations .information {
  height: 25vh;
  display: flex;
  align-items: center;
}
/* line 241, main.scss */
.infos-icons .informations .information img {
  margin-right: 3rem;
  height: 17.5vh;
}
/* line 246, main.scss */
.infos-icons .informations .information .text {
  display: flex;
  flex-direction: column;
}
/* line 253, main.scss */
.infos-icons .image {
  content: '';
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-basis: 60%;
  height: 100%;
}
/* line 262, main.scss */
.infos-icons .map-link {
  position: absolute;
  z-index: 2;
  bottom: 3rem;
  right: 8rem;
  padding: 1rem;
  background: red;
  border-radius: 1000rem;
  text-transform: uppercase;
  font-size: 1.25rem;
  cursor: pointer;
}

/* line 276, main.scss */
.all-videos {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
/* line 282, main.scss */
.all-videos .overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  filter: opacity(0);
  transition: 0.3s ease;
  cursor: pointer;
}
/* line 294, main.scss */
.all-videos .overlay:hover {
  filter: opacity(1);
}
/* line 299, main.scss */
.all-videos .videos {
  display: flex;
  flex-direction: column;
  width: 39.5vw;
}
/* line 304, main.scss */
.all-videos .videos .huge-video {
  height: 40vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
/* line 311, main.scss */
.all-videos .videos .huge-video .video-title {
  font-size: 2.25rem;
  font-weight: bolder;
  text-transform: uppercase;
}
/* line 317, main.scss */
.all-videos .videos .huge-video .name {
  font-size: 1.75rem;
  text-transform: uppercase;
}
/* line 323, main.scss */
.all-videos .videos .small-video {
  height: 20vh;
  display: flex;
  margin-top: 2vh;
}
/* line 328, main.scss */
.all-videos .videos .small-video img {
  content: '';
  height: 20vh;
  width: 15vw;
  background: green;
  cursor: pointer;
}
/* line 336, main.scss */
.all-videos .videos .small-video .text {
  display: flex;
  flex-direction: column;
  margin: 3rem 0 0 3rem;
  padding-right: 7.5vw;
}
/* line 342, main.scss */
.all-videos .videos .small-video .text .video-title {
  font-weight: bolder;
  font-size: 2rem;
  margin-bottom: 1rem;
}
/* line 348, main.scss */
.all-videos .videos .small-video .text .name {
  font-size: 1.5rem;
}

/* line 356, main.scss */
.actus {
  width: 80vw;
  display: flex;
  justify-content: center;
}
/* line 361, main.scss */
.actus .actu {
  width: 19vw;
  margin: 0 0.5vw;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 0 1rem #aaa;
}
/* line 369, main.scss */
.actus .actu .actu-header {
  height: 25vh;
  width: 19vw;
  content: '';
  background: red;
}
/* line 376, main.scss */
.actus .actu .actu-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
/* line 381, main.scss */
.actus .actu .actu-content .actu-title {
  font-weight: bolder;
  font-size: 1.75rem;
}
/* line 386, main.scss */
.actus .actu .actu-content .actu-text {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}
/* line 391, main.scss */
.actus .actu .actu-content .actu-button {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border: 0.1rem solid grey;
  border-radius: 1000rem;
  text-transform: uppercase;
  width: 30%;
  text-align: center;
  margin: auto;
  cursor: pointer;
  transition: 0.2s ease;
}
/* line 403, main.scss */
.actus .actu .actu-content .actu-button:hover {
  background: grey;
  color: white;
}
/* line 409, main.scss */
.actus .actu .actu-content .actu-date {
  margin-top: 1.5rem;
}

/*# sourceMappingURL=main.css.map */
